.nav {
    grid-area: n;
    background: steelblue;
    padding: 10px;
    width: 100px;
}

.item {
    text-decoration: none;
    color: white;
}

/*.item a:hover {*/
/*    font-size: 20px;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*}*/

.active {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}