.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_item {

}

.dialogs_item .active {
    color: blue;
}

.dialog {
    text-decoration: none;
}

.messages {

}

.message {

}